 @import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
} 


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  line-height: 1.5;

}

.banner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  object-fit: cover;
}
.banner {
  position: relative;
  z-index: 1;
}

html,
body {
  position: relative;
  height: 100%;
}


swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
 

  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

span.swiper-pagination-bullet > span {
background: antiquewhite;
width: 15px;
height: 15px;
border-radius: 3px;
}

@keyframes slideInRight {
from {
transform: translateX(-100%);
opacity: 0;
}
to {
transform: translateX(0);
opacity: 1;
}
}

/* .animated-content {
animation: slideInRight 1s ease forwards;
} */

@keyframes slideInRights {
from {
transform: translatey(100%);
opacity: 0;
}
to {
transform: translateX(0);
opacity: 1;
}
}

/* .animated-contentright {
animation: slideInRights 1s ease forwards;
} */


.banner-video-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control transparency */
z-index: 1; /* Ensure the overlay is above the video */
}


.swiper-slide-active .animated-content {
animation: slideInRight 1s ease forwards;
}

.swiper-slide-active .animated-contentright {
animation: slideInRights 1s ease forwards;
}

.button {
position: relative;
transition: all 0.3s ease-in-out;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
padding-block: 0.5rem;
padding-inline: 1.25rem;
background-color: rgb(0, 0, 0);
border-radius: 9999px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
color: #ffff;
gap: 10px;
font-weight: bold;
border: 3px solid #ffffff4d;
outline: none;
overflow: hidden;
font-size: 15px;
}

.icon {
width: 24px;
height: 24px;
transition: all 0.3s ease-in-out;
}

.button:hover {
transform: scale(1.05);
border-color: #fff9;
}

.button:hover .icon {
transform: translate(4px);
}

.button:hover::before {
animation: shine 1.5s ease-out infinite;
}

.button::before {
content: "";
position: absolute;
width: 100px;
height: 100%;
background-image: linear-gradient(
120deg,
rgba(255, 255, 255, 0) 30%,
rgba(255, 255, 255, 0.8),
rgba(255, 255, 255, 0) 70%
);
top: 0;
left: -100px;
opacity: 0.6;
}

@keyframes shine {
0% {
left: -100px;
}

60% {
left: 100%;
}

to {
left: 100%;
}
}



.swiper-pagination-clickable .swiper-pagination-bullet {
cursor: pointer;
background: azure !important;
}

.scrolldown {
--color: white;
--sizeX: 30px;
--sizeY: 50px;
position: relative;
width: var(--sizeX);
height: var(--sizeY);
margin-left: var(sizeX / 2);
border: calc(var(--sizeX) / 10) solid var(--color);
border-radius: 50px;
box-sizing: border-box;
margin-bottom: 16px;
cursor: pointer;
}

.scrolldown::before {
content: "";
position: absolute;
bottom: 30px;
left: 50%;
width: 6px;
height: 6px;
margin-left: -3px;
background-color: var(--color);
border-radius: 100%;
animation: scrolldown-anim 2s infinite;
box-sizing: border-box;
box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
0% {
opacity: 0;
height: 6px;
}

40% {
opacity: 1;
height: 10px;
}

80% {
transform: translate(0, 20px);
height: 10px;
opacity: 0;
}

100% {
height: 3px;
opacity: 0;
}
}

.chevrons {
padding: 6px 0 0 0;
margin-left: -3px;
margin-top: 48px;
width: 30px;
display: flex;
flex-direction: column;
align-items: center;
}

.chevrondown {
margin-top: -6px;
position: relative;
border: solid var(--color);
border-width: 0 3px 3px 0;
display: inline-block;
width: 10px;
height: 10px;
transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
from {
opacity: 0;
}

to {
opacity: 0.5;
}
}


